@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Nunito+Sans:300,300i,400,400i,600,600i,700,700i&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-gray-50 text-brand-black overflow-x-hidden antialiased font-sans selection:bg-brand-primary selection:text-white;
  }
}

.glass {
  @apply bg-white border border-brand-gray-100 shadow-sm;
}